.nuget
*
/02SpringAop/bin
/02SpringAop/obj
/Aspect/bin
/Aspect/obj
/BasicTest/bin
/BasicTest/obj
/BootStrap/bin
/BootStrap/obj
/DapperTest/bin
/DapperTest/obj
/EFCodeFirst/bin
/EFCodeFirst/obj
/ExpressionTree/bin
/ExpressionTree/obj
/JsoseTest/bin
/JsoseTest/obj
/Model/bin
/Model/obj
/MvcApi/bin
/MvcApi/obj
/MvcApiClient/bin
/MvcApiClient/obj
/MvcApiHelpPage/bin
/MvcApiHelpPage/obj
/MvcApiSelfHost/bin
/MvcApiSelfHost/obj
/Nevlocity/bin
/Nevlocity/obj
/QRCoderDemo/bin
/QRCoderDemo/obj
/Repository/*
/Service/bin
/Service/obj
/packages
