@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/js/jquery-1.8.2.js"></script>
    <script src="~/js/lhgdialog/lhgdialog.min.js"></script>
</head>
<body>
    <div>
        
    </div>
    <iframe frameborder="0" src="@Url.Action("ChildPage")" >
        
    </iframe>
</body>
</html>
