@charset "utf-8";
* {
	margin:0;
	padding:0;
}
body {
	padding:0;
	margin:0;
	behavior:url("../images/hover.htc");
}
img {
	border:0px;
}
a {
	text-decoration:none;
}
ul, li {
	list-style:none;
	margin:0px;
	padding:0px;
}
.gw_zzsc {
	position:relative;
	width:100%;
	height:406px;
	overflow:hidden;
	margin-top:-40px;
	z-index:0;
	_z-index:0;
}
.gw_zzsc ul.fix_flash {
	height:406px;
	overflow:hidden;
	position:absolute;
}
.gw_zzsc ul.fix_flash li {
	width:100%;
	height:406px;
	overflow:hidden;
	float:left;
	display:inline;
	cursor:pointer;
}
.gw_zzsc ul.fix_flash li a {
	display:block;
	height:400px;
	width:100%;
	cursor:pointer;
}
.gw_zzsc_center {
	width:300px;
	height:106px;
	margin:0px auto;
	position:absolute;
	overflow:hidden;
	top:300px;
	left:1000px;
}
.gw_zzsc_center .gw_zzsc_flash_v {
	width:96px;
	height:54px;
	padding:2px 5px 12px 3px;
	overflow:hidden;
	background:url(../images/small_banner_box.png) no-repeat;
	position:absolute;
	left:122px;
}
.gw_zzsc_center .gw_zzsc_flash_v img {
	width:191px;
	height:54px;
	margin-left:-27px;
	position:relative;
}
.gw_zzsc_flash_s {
	height:5px;
	bottom:20px;
	position:absolute;
	right:60px;
	text-align:right;
}
.gw_zzsc_flash_s .banner_smallArea {
	width:100%;
}
.gw_zzsc_flash_s .gw_zzsc_sele {
	float:left;
	display:inline;
	width:24px;
	height:5px;
	margin-left:2px;
	background:#2d74a2;
	line-height:5px;
	overflow:hidden;
	cursor:pointer;
}
.gw_zzsc_flash_s .gw_zzsc_over {
	background:#ff9000;
}